python-dotenv
openai
cmake
arabic-reshaper
Keras
numpy
opencv-python
Pillow
python-bidi
scipy
tensorflow
flask
llama-index 
llama-index-vector-stores-mongodb
llama-index-embeddings-openai
pymongo
streamlit